body,html{
    margin:2px;
    padding: 2px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
}

p{
    text-align: center;
    font-size: 9em;
    text-shadow: 1px, 1px, 3px;
    z-index: 200;
    margin-top: -175px;
    color: white;
}



#topheader img {
    border: none;
    height: 430px;
}

a, a:link, a:visited, a:hover{
    text-decoration: none;
}
#topheader > section{
    display: inline-block;
    border:none;
    margin:0;
}

 /* #topheader >  div:first-child{
    width:200px;
    margin: 10px 20px;
} */

#topheader > div:last-child{
    vertical-align: top;
}

#topheader > section > p{
    text-align:center;
    font-size:2.2em ;
    font-weight: bold;
    line-height:120px ;
}
/*barre de menu *************************************************/
.menu{
    height: 430px;
    width: 600px;
    background-color: rgba(47, 5, 231, 0.12);
}
.menu{
    float:right;
}

.menu > nav{
    min-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    background-color: blueviolet;
    height: 30px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.menu nav > ul{
    list-style-type: none;
    text-transform: uppercase;
    display: inline;
   line-height: 30px;
   font-weight: bolder;
   color: white;
}

nav > ul li a:hover{
    color: aqua;
}

nav > ul li a{
    color:white;
}

li {
    display: inline;
    padding-right: 40px;
    font-size: 2em;
}

/*tableau***********************************************************/

table, th, td, tr{
    border: 2px solid white;
    width: 10px;
    text-align: center;
    color: white;
}

/*formulaire*******************************************************/

form {
    width: 400px;
    margin-left: 115px;
    margin-top: 30px;
    text-align: left;
    color: white;
}



button {
    background: #66BBFF;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    color: white;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left: 70px;
  }
  input, select {
    padding:5px;
    }
    
.caroussel_image img{
    height: 200px;
    margin: 12px;
    align-items: center;
}

.caroussel_image div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1.3s ease-in-out;
	transition: 1.3s ease-in-out;
}
.caroussel_image div:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

table{
    margin-top: 50px;
    margin-left: 30px;
    width: 90%;
    height: 270px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}
